@page "/pagos"

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Pagos</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Admin / Pagos</li>
        </ol>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Pagos
            </div>
            <div class="card-body">
                @if (LPagos == null)
                {
                    <Loading />
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="MydataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Orden</th>
                                    <th>Monto</th>
                                    <th>Fecha</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Orden</th>
                                    <th>Monto</th>
                                    <th>Fecha</th>
                                    <th>Estado</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @if (LPagos != null)
                                {
                                    foreach (var pagos in LPagos)
                                    {
                                        <tr>
                                            <td>@pagos.Id</td>
                                            <td>@pagos.OrdenId</td>
                                            <td>@pagos.Monto</td>
                                            <td>@pagos.CreatedAt</td>
                                            <td>@StringHelper.GetEstado(pagos.Estado)</td>
                                            <td>
                                                <a href="/pagos/editar/@pagos.Id">Editar</a>
                                                <a href="javascript:void(0)" @onclick="() => CambiarEstado(pagos)">@(pagos.Estado ? "Desactivar" : "Activar")</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
        <a type="button" href="/pagos/editar" class="btn btn-outline-primary float-right ">Nuevo Registro</a>
    </div>
</main>