@page "/administradores/editar/{AdministradorId}"
@page "/administradores/editar"

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Administradores</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Admin / Administradores / Editar </li>
        </ol>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Administradores
            </div>
            <div class="card-body">
                @if (!Saved)
                {
                <EditForm Model="@Administrador" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-group row">
                        <label for="Username" class="col-sm-3">Username: </label>
                        <InputText id="Username" class="form-control col-sm-8" @bind-Value="@Administrador.Username" placeholder="Username"></InputText>
                    </div>
                    <div class="form-group row">
                        <label for="Email" class="col-sm-3">Email: </label>
                        <InputText id="Email" class="form-control col-sm-8" @bind-Value="@Administrador.Email" placeholder="Email"></InputText>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-3">Contraseña: </label>
                        <InputText id="password" class="form-control col-sm-8" @bind-Value="@Administrador.Password" type="password"></InputText>
                    </div>
                    <div class="form-group row">
                        <label for="Rol" class="col-sm-3">Rol: </label>
                        <InputSelect id="Rol" class="form-control col-sm-8" @bind-Value="@RolId">
                           @if (Roles != null)
                           {
                               @foreach (var rol in Roles)
                               {
                                   <option value="@rol.Id">@rol.Nombre</option>
                               }
                           }
                        </InputSelect>
                    </div>

                    <button type="submit" class="btn btn-primary edit-btn">Guardar</button>
                    <a class="btn btn-outline-primary edit-outline-btn" @onclick="@NavigateToInfo">Cancelar</a>

                    @if (Alert != null)
                    {
                        <ShowAlert Message="@Alert.Message" Type="@Alert.Type" />
                    }
                </EditForm>
                }
                else
                {
                    <ShowAlert Message="@Alert.Message" Type="@Alert.Type" />
                    <a class="btn btn-outline-primary" @onclick="@NavigateToInfo">Regresar</a>
                }
            </div>
        </div>


    </div>
</main>