@page "/productos/editar/{ProductoId}"
@page "/productos/editar"

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Productos</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Admin / Productos / Editar </li>
        </ol>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Productos
            </div>
            <div class="card-body">
                @if (!Saved)
                {
                    <EditForm Model="@Producto" OnValidSubmit="@HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-group row">
                            <label for="nombre" class="col-sm-3">Nombre: </label>
                            <InputText id="nombre" class="form-control col-sm-8" @bind-Value="@Producto.Nombre" placeholder="nombre"></InputText>
                        </div>
                        <div class="form-group row">
                            <label for="marca" class="col-sm-3">Marca: </label>
                            <InputText id="marca" class="form-control col-sm-8" @bind-Value="@Producto.Marca" placeholder="marca"></InputText>
                        </div>
                        <div class="form-group row">
                        <label for="Categoria" class="col-sm-3">Categoria: </label>
                        <InputSelect id="Categoria" class="form-control col-sm-8" @bind-Value="@CategoriaId">
                           @if (Categorias != null)
                           {
                               @foreach (var cat in Categorias)
                               {
                                   <option value="@cat.Id">@cat.Nombre</option>
                               }
                           }
                        </InputSelect>
                        </div>
                        <div class="form-group row">
                            <label for="precio" class="col-sm-3">Precio: </label>
                            <InputNumber id="precio" class="form-control col-sm-8" @bind-Value="@Producto.Precio" placeholder="precio"></InputNumber>
                        </div>
                        <div class="form-group row">
                            <label for="stock" class="col-sm-3">Stock: </label>
                            <InputNumber id="stock" class="form-control col-sm-8" @bind-Value="@Producto.Stock" placeholder="stock"></InputNumber>
                        </div>   
                        <div class="form-group row">
                            <label for="descripci贸n" class="col-sm-3">Descripci贸n: </label>
                            <InputTextArea id="descripci贸n" class="form-control col-sm-8" @bind-Value="@Producto.Descripcion" placeholder="descripci贸n"></InputTextArea>
<<<<<<< HEAD
                        </div>   

=======
                        </div>                                             
>>>>>>> origin/Reynaldo
                        <button type="submit" class="btn btn-primary edit-btn">Guardar</button>
                        <a class="btn btn-outline-primary edit-outline-btn" @onclick="@NavigateToInfo">Cancelar</a>

                        @if (Alert != null)
                        {
                            <ShowAlert Message="@Alert.Message" Type="@Alert.Type" />
                        }
                    </EditForm>
                }
                else
                {
                    <ShowAlert Message="@Alert.Message" Type="@Alert.Type" />
                    <a class="btn btn-outline-primary" @onclick="@NavigateToInfo">Regresar</a>
                }
            </div>
        </div>


    </div>
</main>