@page "/productos/editarfotos/{ProductoId}"

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Productos</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Admin / Productos / EditarFotos </li>
        </ol>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Productos
            </div>
            <div class="card-body">
                @if (!Saved)
                {

                    <InputFile OnChange="HandleSelection" ></InputFile>
                    <button type="submit" class="btn btn-primary edit-btn">Subir</button>
                    <a class="btn btn-outline-primary edit-outline-btn" @onclick="@NavigateToInfo">Regresar</a>

                    <div class="pt-2">
                        <p><strong>Nombre:</strong> @(File?.Name ?? string.Empty)</p>
                        <p><strong>Peso:</strong> @(File?.Size / 1024 / 1024 ?? 0)MB</p>
                        <p><strong>Tipo:</strong> @(File?.Type ?? string.Empty)</p>
                    </div>

                    @if (Alert != null)
                    {
                        <ShowAlert Message="@Alert.Message" Type="@Alert.Type" />
                    }
                }
                else
                {
                    <ShowAlert Message="@Alert.Message" Type="@Alert.Type" />
                    <a class="btn btn-outline-primary" @onclick="@NavigateToInfo">Regresar</a>
                }

                @if (Fotos != null)
                {
                    <div class="container">
                     
                            <div class="row">
                                @foreach (var fot in Fotos)
                                {
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <img src="@PoductoHelper.GetFotoUrl(fot)" alt="Lights" style="width:100%">
                                            <div class="caption">
                                                <button type="button" id="@fot.Id" @onclick="() => BorrarFoto(fot.Id)" class="btn btn-outline-danger">Remover</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                               

                                @*@for (int j = ((i == 0) ? 0 : 3); j < ((i == 0) ? 3 : 6); j++)
                                {
                                    if (j < Fotos.Count)
                                    {
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img src="@PoductoHelper.GetFotoUrl(Fotos[j])" alt="Lights" style="width: 100%">
                                                <div class="caption">
                                                    <button type="button" id="@Fotos[j].Id" @onclick="() => BorrarFoto(Fotos[j].Id)" class="btn btn-outline-danger">Remover</button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }*@
                            </div>
                    </div>
                }
            </div>
        </div>


    </div>
</main>